{{#if theme_settings.bigcommerce_banners }}
    {{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
    {{/if}}
{{/if}}

{{#if page_type '===' 'default'}}
{{else}}
    <!-- BEGIN Home Brand Slider -->
    {{> components/halothemes/home-brand-slider}}
    <!-- END Home Brand Slider -->
{{/if}}

<footer id="footer-wrapper">
    <section id="main-footer">
        <div class="container">

            {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}

            <!-- Begin Footer Columns -->
            <div class="footer-columns">
                <div class="column-item first wow fadeIn" data-wow-delay="100ms">
                    <h5>Question & Orders</h5>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>
                                <strong>Order by phone <br> {{settings.phone_number}}</strong><br>
                                Mon to Sat: <br>
                                10am - 4pm (EST) <br>
                                Sunday Closed
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                <strong>Send us an Email</strong><br>
                                <a href="mailto:support@halothemes.com">Email us <i class="fa fa-hand-o-left"></i></a>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="200ms">
                    <h5>Further Info</h5>
                    <ul>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="#placeholder_link">Themes Styles</a></li>
                        <li><a href="/about-us/">About Us</a></li>
                        <li><a href="/giftcertificates.php">Gift Certificates</a></li>
                        <li><a href="/rss-syndication/">RSS Syndication</a></li>
                        <li><a href="/shipping-returns/">Shipping & Returns</a></li>
                        <li><a href="/sitemap/">Sitemap</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="300ms">
                    <h5>Shop</h5>
                    <ul>
                        {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="400ms">
                    <h5>Our Top Brands</h5>
                    <ul>
                        <li><a href="/brands/Angry-Birds.html">Angry Birds</a></li>
                        <li><a href="/brands/BeQuiet.html">BeQuiet</a></li>
                        <li><a href="/brands/Approx.html">Approx</a></li>
                        <li><a href="/brands/Alexander-Blackstone.html">Alexander Blackstone</a></li>
                        <li><a href="/brands/A%252dSolar.html">A-Solar</a></li>
                        <li><a href="/brands/Bioware-%252d-Adventure-Time.html">Bioware - Adventure Time</a></li>
                        <li><a href="/brands/Bioware-%252d-Einstein.html">Bioware - Einstein</a></li>
                        <li><a href="/brands/Aerocool.html">Aerocool</a></li>
                        <li class="all-brands-link"><a href="/brands/">View All Brands</a></li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="500ms">
                    <h5>Customer Service</h5>
                    <ul>
                        <li><a href="#placeholder_link">Help & FAQs</a></li>
                        <li><a href="/terms-conditions/">Terms &amp; Conditions</a></li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="#placeholder_link">Online Returns Policy</a></li>
                        <li><a href="#placeholder_link">Reward Program</a></li>
                        <li><a href="#placeholder_link">Rebate Center</a></li>
                        <li><a href="#placeholder_link">Partners</a></li>
                        <li><a href="#placeholder_link">Testimonials</a></li>
                    </ul>
                </div>

            </div>
            <!-- End Footer Columns -->


            <!-- Begin Three Columns -->
            <div class="bottom-columns">

                <div class="column-item first wow fadeIn" data-wow-delay="100ms">
                    <h5>Shop With Confidence</h5>
                    <p>Sed menenatis pulvinar sem porta an condimentumos</p>
                    {{> components/common/payment-icons}}
                </div>

                <div class="column-item second wow fadeIn" data-wow-delay="200ms">
                    <h5>Secure Shopping</h5>
                    <p>Nam condimentum tellus dapibus an cosmopolis</p>

                        <ul class="footer-ssl-certificate">
                            {{#if theme_settings.show_geotrust_ssl_seal}}
                            <li>{{> components/common/geotrust-ssl-seal}}</li>
                            {{/if}}
                            <li><a href="#"><img src="/product_images/uploaded_images/godaddy-certificate.png" alt=""></a></li>
                            <li><a href="#"><img src="/product_images/uploaded_images/comodo-certificate.png" alt=""></a></li>
                        </ul>

                </div>

                <div class="column-item third wow fadeIn" data-wow-delay="300ms">
                    <h5>Stay Connected</h5>
                    <p>Duis luctus lorem dapibus euismod multricies duomus</p>
                    {{> components/common/social-links}}
                </div>

            </div>
            <!-- End Three Columns -->

        </div>
    </section>
    <div id="bottom-footer">
        <div class="container text-{{theme_settings.copyright_alignment}} wow fadeIn">
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p>&copy; {{moment format="YYYY"}} {{settings.store_name}} All Rights Reserved.</p>
                </div>
            {{/if}}

            {{#if theme_settings.show_powered_by}}
                <div class="powered-by">
                    <p>Powered by <a href="http://bigcommerce.com">BigCommerce</a>.</p>
                </div>
            {{/if}}

            {{#if theme_settings.show_template_by}}
                <div class="template-by">
                    <p>BigCommerce Templates by <a href="http://themevale.com.com" target="_blank" rel="nofollow">ThemeVale.com</a></p>
                </div>
            {{/if}}


        </div>
    </div>
</footer>

<a href="javascript:void(0);" id="back-to-top"><i class="fa fa-angle-up"></i></a>
