<nav class="navPages">
    <ul class="navPages-list">
        
        
        <!-- COLLARS -->
        
        <li class="navPages-item hasMegamenu hasSub">
            <a class="navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/men/">COLLARS
            <span class="triangle-with-shadow"></span>
            </a>
            <div class="navPage-subMenu subMegaMenu imageRight" id="navPages-3" tabindex="-1" style="width: 100%; min-width:540px!important;">
                <div class="container">
                    <div class="imageArea colRight" style="width: 500px; max-width: 100%;">
                        <div class="col-left">
                            <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/megamenu-image-2.jpg"></a>
                            <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/megamenu-image-3.jpg"></a>
                        </div>
                        <div class="col-right">
                            <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/megamenu-image-4.jpg"></a>
                        </div>
                        <div class="shop-by-brands">
                            <label>Shop By Category</label>
                            <ul>
                                <li>
                                    <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/brand-logo-1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/brand-logo-2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/brand-logo-3.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <!-- LEADS -->
        
        <li class="navPages-item hasMegamenu hasSub">
            <a class="navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/snowboard/">LEADS
                <span class="triangle-with-shadow"></span>
            </a>
            <div class="navPage-subMenu subMegaMenu imageRight" id="navPages-14" tabindex="-1" style="width: 100%;min-width:480px!important;">
                <div class="container">
                    <div class="imageArea colRight" style="width: 100%; max-width: 100%;">
                        <div class="featured-categories">
                            <h4>Shop By Category</h4>
                            <ul class="owl-carousel owl-loaded owl-drag owl-hidden">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 800px;">
                                        <div class="owl-item active" style="width: 180px; margin-right: 20px;">
                                            <li class="cate-item">
                                                <a class="cate-img" href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/megamenu-product-image-1.jpg" alt="Cosmopolis"></a>
                                                <a class="cate-name" href="#placeholder_link">HYDRO LEADS</a>
                                                <p class="cate-desc">Short description about Hydro Leads. Short description about Hydro Leads.</p>
                                                <a class="cate-shop-now" href="#placeholder_link">Shop Now</a>                        
                                            </li>
                                        </div>
                                        <div class="owl-item active" style="width: 180px; margin-right: 20px;">
                                            <li class="cate-item">                            
                                                <a class="cate-img" href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/megamenu-product-image-2.jpg" alt="Cosmopolis"></a>
                                                <a class="cate-name" href="#placeholder_link">LEATHER LEADS</a>                            
                                                <p class="cate-desc">Short description about Leather Leads. Short description about Leather Leads.</p>                            
                                                <a class="cate-shop-now" href="#placeholder_link" title="Shop Now">Shop Now</a>                        
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <div class="owl-prev disabled">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                                <div class="owl-dots disabled"></div>
                            </ul>                
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        
        <!-- ACCESSORIES -->
        
        <li class="navPages-item hasMegamenu hasSub fullWidth">
            <a class="navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/women/">ACCESSORIES
                <span class="triangle-with-shadow"></span>
            </a>
            <div class="navPage-subMenu subMegaMenu imageRight" id="navPages-1" tabindex="-1" style="width: 100%;min-width:540px!important;">
                <div class="container">
                    <div class="cateArea columns-2" style="width: 100%; max-width: 40%;">
                        <ul class="navPage-subMenu-list">
                            <li class="navPage-subMenu-item" style="padding-bottom:20px;">
                                <a class="navPage-subMenu-action navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/women/facilisis-magna/">
                                    <span>Charms</span>
                                </a>
                                <a href="#">
                                    <img src="http://hot-dogs-all-dressed2.mybigcommerce.com/product_images/uploaded_images/home-bottom-banner-1.jpg" height="120" width="200">
                                </a>
                            </li>
                            <li class="navPage-subMenu-item" style="padding-bottom:20px;">
                                <a class="navPage-subMenu-action navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/women/dictumos/">
                                    <span>Key Chains</span>
                                </a>
                                <a href="#">
                                    <img src="http://hot-dogs-all-dressed2.mybigcommerce.com/product_images/uploaded_images/home-bottom-banner-1.jpg" height="120" width="200">
                                </a>
                            </li>
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/women/honcus-mauris/">
                                    <span>Ornaments</span>
                                </a>
                                <a href="#">
                                    <img src="http://hot-dogs-all-dressed2.mybigcommerce.com/product_images/uploaded_images/home-bottom-banner-1.jpg" height="120" width="200">
                                </a>
                            </li>
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action has-subMenu" href="http://themvalesandbox-demo2.mybigcommerce.com/curabitur-tempors/">
                                    <span>Bear Bells</span>
                                </a>
                                <a href="#">
                                    <img src="http://hot-dogs-all-dressed2.mybigcommerce.com/product_images/uploaded_images/home-bottom-banner-1.jpg" height="120" width="200">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="imageArea colRight" style="width: 100%; max-width: 60%;">
                        <a href="#placeholder_link"><img src="http://themvalesandbox-demo2.mybigcommerce.com/product_images/uploaded_images/megamenu-image-1.jpg"></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
