---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        <div class="container">{{> components/common/alert-info message}}</div>
    {{/each}}

<div class="main full">

    <!-- BEGIN Home Brand Slider -->
    {{> components/halothemes/home-brand-slider}}
    <!-- END Home Brand Slider -->

    <!-- BEGIN Home Top Banners -->
    {{> components/halothemes/home-top-banners}}
    <!-- END Home Top Banners -->

    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}

    {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}

    <!-- BEGIN Shop By Category // Static Block -->
    {{> components/halothemes/home-shop-by-category}}
    <!-- END Shop By Category // Static  Block -->

    <!-- BEGIN Home Bottom Banners -->
    {{> components/halothemes/home-bottom-banners}}
    <!-- END Home Bottom Banners -->

    <!-- BEGIN Home Instagram Gallery -->
    {{> components/halothemes/home-instagram}}
    <!-- END Home Instagram Gallery -->

</div>
{{/partial}}
{{> layout/base}}
