<!-- @HaloMegaMenu Library -->
<script src="{{cdn '/assets/js/theme/halothemes/haloBasicMegaMenu.js'}}" defer></script>

<script>
$(document).ready(function() {
    /* Megamenu Settings */

    //COLLARS
    menuItem(1).HaloMegaMenu({
        dropAlign: 'left',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '540px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        cateColumns: 3,           // columns of categories - max 5 columns
        disabled: false           // Disable Megamenu for this item - true/false
    });

    //LEADS
    menuItem(2).HaloMegaMenu({
        dropAlign: 'left',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '480px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        cateColumns: 3,           // columns of categories - max 5 columns
        disabled: false           // Disable Megamenu for this item - true/false
    });

    //ACCESSORIES
    menuItem(3).HaloMegaMenu({
        dropAlign: 'left',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        cateColumns: 2,           // columns of categories - max 5 columns
        disabled: false           // Disable Megamenu for this item - true/false
    });

    //CLOTHING
    menuItem(4).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '1000px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        cateColumns: 5,           // columns of categories - max 5 columns
        disabled: false           // Disable Megamenu for this item - true/false
    });
    
    //TRAINING TOOLS
    menuItem(5).HaloMegaMenu({
        dropAlign: 'right',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '600px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        cateColumns: 3,           // columns of categories - max 5 columns
        disabled: false           // Disable Megamenu for this item - true/false
    });
    
    //HORSE HALTERS
    menuItem(6).HaloMegaMenu({
        dropAlign: 'right',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '400px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        cateColumns: 2,           // columns of categories - max 5 columns
        disabled: false           // Disable Megamenu for this item - true/false
    });

});
</script>


