<div id="homeTopBanners">
    <div class="container">
        <!-- Begin Three Square Banners -->
        <div class="row">
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="100ms">
                <a title="Snow Safety Collection" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/home-top-banner-1.jpg" alt="Snow Safety Collection" />
                </a>
                <div class="hover-text-bottom">
                    <h5>Snow Safety Collection</h5>
                    <p>Quisque blandit tincidunt an sit ametos <i class="fa fa-caret-right"></i></p>
                </div>
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Running shoes" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/home-top-banner-2.jpg" alt="Running shoes" />
                </a>
                <div class="hover-text-bottom">
                    <h5>Running shoes</h5>
                    <p>Duis consectetur an lorem cursus <i class="fa fa-caret-right"></i></p>
                </div>
            </div>
            <div class="col-sm-4 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Never. Stop. Exploring." href="#placeholder_link">
                    <img src="/product_images/uploaded_images/home-top-banner-3.jpg" alt="Never. Stop. Exploring." />
                </a>
                <div class="hover-text-bottom">
                    <h5>Never. Stop. Exploring.</h5>
                    <p>Quisque blandit tincidunt an sit ametos <i class="fa fa-caret-right"></i></p>
                </div>
            </div>
        </div>
        <!-- End Three Square Banners -->
        <!-- Begin Two Rectangle Banners -->
        <div class="row">
            <div class="col-sm-6 banner-item wow fadeIn" data-wow-delay="400ms">
                <a title="Backpack Collection" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/home-top-banner-4.jpg" alt="Backpack Collection" />
                </a>
                <div class="hover-text-bottom">
                    <h5>Backpack Collection</h5>
                    <p>Proin ullamcorper nulla dan elementum <i class="fa fa-caret-right"></i></p>
                </div>
            </div>
            <div class="col-sm-6 banner-item has-img wow fadeIn" data-wow-delay="500ms">
                <a title="Camping and Hiking" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/home-top-banner-5.jpg" alt="Camping and Hiking" />
                </a>
                <div class="hover-text-bottom">
                    <h5>Camping and Hiking</h5>
                    <p>Proin ullamcorper nulla dan elementum <i class="fa fa-caret-right"></i></p>
                    <p class="img"><img src="/product_images/uploaded_images/nohr-logo.png" alt="nohr" /></p>
                </div>
            </div>
        </div>
        <!-- End Two Rectangle Banners -->
    </div>
</div>
