<div id="homeBottomBanners" class="module-wrapper wow fadeIn">
    <div class="container">
        <h2 class="module-heading"><span>Explore BlackDeer</span></h2>
        <p class="sub-module-heading">Suspendisse miaculis placerat sapien at comodous loremous</p>
        <div class="row">
            <!-- Begin Three Left Banners -->
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 banner-item wow fadeIn" data-wow-delay="100ms">
                        <a title="Proin ullamcorper nullas" href="#placeholder_link">
                            <img src="/product_images/uploaded_images/home-bottom-banner-1.jpg" alt="Proin ullamcorper nullas" />
                        </a>
                        <div class="hover-text-bottom">
                            <h5>Proin ullamcorper nullas</h5>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                        <a title="Loremous Comodous" href="#placeholder_link">
                            <img src="/product_images/uploaded_images/home-bottom-banner-2.jpg" alt="Loremous Comodous" />
                        </a>
                        <div class="hover-text-bottom">
                            <h5>Loremous Comodous</h5>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="col-xs-6 banner-item wow fadeIn" data-wow-delay="100ms">
                        <a title="Namdos Hempus" href="#placeholder_link">
                            <img src="/product_images/uploaded_images/home-bottom-banner-3.jpg" alt="Namdos Hempus" />
                        </a>
                        <div class="hover-text-bottom">
                            <h5>Namdos Hempus</h5>
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Three Left Banners -->
            <!-- Begin One Right Banner -->
            <div class="col-sm-6 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Dinterdum pretium dan mauris" href="#placeholder_link">
                    <img src="/product_images/uploaded_images/home-bottom-banner-4.jpg" alt="Dinterdum pretium dan mauris" />
                </a>
                <div class="hover-text-bottom">
                    <h5>Dinterdum pretium dan mauris</h5>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <!-- End One Right Banner -->
        </div>
    </div>
</div>
