<div id="homeBrands" class="wow fadeIn">
    <div class="container">
        <div class="owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>
            <a href="#placeholder_link" title="loremous"><img src="/product_images/uploaded_images/brand-logo-1.jpg" alt="loremous" /></a>
            <a href="#placeholder_link" title="isabella"><img src="/product_images/uploaded_images/brand-logo-2.jpg" alt="isabella" /></a>
            <a href="#placeholder_link" title="magcor"><img src="/product_images/uploaded_images/brand-logo-3.jpg" alt="magcor" /></a>
            <a href="#placeholder_link" title="fermends"><img src="/product_images/uploaded_images/brand-logo-4.jpg" alt="fermends" /></a>
            <a href="#placeholder_link" title="conseqaur"><img src="/product_images/uploaded_images/brand-logo-5.jpg" alt="conseqaur" /></a>
            <a href="#placeholder_link" title="loremous"><img src="/product_images/uploaded_images/brand-logo-1.jpg" alt="loremous" /></a>
            <a href="#placeholder_link" title="isabella"><img src="/product_images/uploaded_images/brand-logo-2.jpg" alt="isabella" /></a>
            <a href="#placeholder_link" title="magcor"><img src="/product_images/uploaded_images/brand-logo-3.jpg" alt="magcor" /></a>
            <a href="#placeholder_link" title="fermends"><img src="/product_images/uploaded_images/brand-logo-4.jpg" alt="fermends" /></a>
            <a href="#placeholder_link" title="conseqaur"><img src="/product_images/uploaded_images/brand-logo-5.jpg" alt="conseqaur" /></a>
        </div>
    </div>
</div>
